<section class="section">
	<article class="media">
		<div class="media-content">
			<div class="content has-text-centered">
				<div class="main-visual">
				    <div class="main-visual-content">
				    	<p class="main-visual-title">
				      		Babyry
				    	</p>
				    	<p class="main-visual-text">
				        	Babyryは赤ちゃんや子供の成長を<br>
					        写真とメッセージを添えて<br>
					        記録し投稿するサイトです<br>
					        <br>
							Babyryは『Baby』と『Memory』<br>
							を掛け合わせた造語です<br>
							<br>
							<br>
							<br>
							仕事や家事で忙しいパパ・ママと<br>
							孫の成長をとても楽しみにしている<br>
							おじいちゃんおばあちゃんをつなぐ<br>
							<br>
							はじめて泣いた日　はじめて笑った日<br>
							はじめて怒った日　はじめて喋った日<br>
							はじめて立った日　はじめて歩いた日<br>
							<br>
							何気ない1日の出来事も家族にとっては<br>
							再び来ることのないかけがえのない毎日<br>
							<br>
							投稿する ” あなたの ” 今の気持ちを<br>
							将来大きくなった ” キミへ ” 伝える<br>
							<br>
							あっという間に成長する愛子の成長を<br>
							写真に一言添えて、記録しませんか？<br>
				    	</p>
				    	<p class="main-visual-name">
				        	St. Take
				    	</p>
				    </div>
				</div>
			</div>
		</div>
	</article>
</section>