
<section class="section">
	<article class="media">
		<div class="media-content">
			<div class="content has-text-centered">
				<h1>
					<strong class="is-size-1" style="font-family: arial unicode ms;">『 Babyry 』って？</strong>
				</h1>
				<h3>
					このサイトは、赤ちゃんや子供の成長を写真とメッセージを添えて、記録し投稿するサイトです。<br>
					Babyryは、『Baby』と『Memory』を掛け合わせた造語です。<br>
					<br>
					初めて笑った日、初めて寝返りを打った日、初めてハイハイした日、初めて立った日、初めて歩いた日、初めて喋った日。<br>
					何気ない1日の出来事も、家族皆にとってはもう再び来ることのないかけがえのない毎日。<br>
					<br>
					毎日仕事や家事育児で忙しいパパ・ママと、孫の成長を楽しみにしているおじいちゃんおばあちゃんをつなぐために。<br>
					投稿する ” あなたの ” 今の気持ちを、将来大きくなった ” キミへ ” 伝える手段として。<br>
					あっという間に成長してしまう愛子の1日1日の成長を、写真に一言を添えて、記録し共有してみませんか？<br>
				</h3>
			</div>
		</div>
	</article>
	<br>
	<div class="columns is-left">
		<div class="column">
			<figure class="image is-100x100">
				<img src="https://d1f5hsy4d47upe.cloudfront.net/51/51bc2ce4acfa8e0e60c8196e445383dd_t.jpeg">
			</figure>
		</div>
	</div>
		<div class="columns is-centered">
		<div class="column">
			<figure class="image is-100x100">
				<img src="https://www.pakutaso.com/shared/img/thumb/babyFTHG7521_TP_V.jpg">
			</figure>
		</div>
	</div>
		<div class="columns is-right">
		<div class="column">
			<figure class="image is-100x100">
				<img src="https://imgc.eximg.jp/i=https%253A%252F%252Fs.eximg.jp%252Fexpub%252Ffeed%252FBabyCalendar%252F2019%252FBabyCalendar_10342%252FBabyCalendar_10342_ews201907bc48536594S_1.jpg,small=600,quality=80,type=jpg">
			</figure>
		</div>
	</div>
</section>